body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f7f7f7;
	color: #222222;
	font-family: 'Montserrat';
	line-height: 20px;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: inherit;
}


.header {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #ffffff;
	align-items: center;
	display: flex;
	border: 1px solid #dddddd;
}

.headernav {
	align-items: center;
	display: flex;
}

.navlink {
	font-size: 12px;
	font-weight: 600;
	margin-right: 24px;
}

.navlink:hover {
	color: #787878;
}

#headerlogo {
	width: 20px;
	height: 20px;
}