body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f7f7f7;
	color: #222222;
	font-family: Helvetica;
	letter-spacing: 0.1px;
	word-spacing: 1px;
	line-height: 24px;
	font-size: 16px;
	font-weight: 400;
}

a {
	color: #009E59;
}

h1 {
	font-size: 36px;
	font-style: bold;
	font-weight: 800;
	margin-top: 4px;
	margin-bottom: 36px;
	margin-right: 0;
	margin-left: 0;

}

h2 {
	font-size: 22px;
	font-style: bold;
	font-weight: 800;
	margin-top: 4px;
	margin-bottom: 24px;
	margin-right: 0;
	margin-left: 0;
}

h3 {
	font-size: 18px;
	font-style: bold;
	font-weight: 600;
	margin-top: 4px;
	margin-bottom: 16px;
	margin-right: 0;
	margin-left: 0;
}

p {
	line-height: 1.625;
	margin-bottom: 12px;
}

.personInfo {
	align-items: center;
	display: flex;
	margin-bottom: 24px;
}

.caption {
	font-size: 14px;
	font-style: italic;
	color: #777777;
}

.container {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	padding: 48px;
	padding-top: 48px;
	border-top: 0;
	margin-right: 208px;
	margin-left: 208px;
	margin-top: 46px;
	margin-bottom: 96px;
}

.card {
	width: 24%;
	padding-top: 28px;
	padding-bottom: 28px;
	padding-right: 24px;
	padding-left: 24px;
	background-color: #ffffff;
	box-shadow: 0 4px 16px rgb(16 16 16 / 8%);
}

.button {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 12px;
	padding-left: 12px;
	background-color: #009E59;
	color: #ffffff;
	font-size: 12px;
	border-radius: 4px;
	transition: 0.3s;
	text-decoration: none;
}

.button:hover {
	background-color: #3FB682;
}

header {
	padding-left: 256px;
	padding-right: 256px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #ffffff;
	align-items: center;
	display: flex;
	border: 1px solid #dddddd;
	border-top: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.headernav {
	align-items: center;
	display: flex;
}

.navlink {
	font-size: 12px;
	font-weight: 600;
	margin-right: 24px;
	text-decoration: none;
	color: inherit;
}

.navlink:hover {
	color: #787878;
}

#headerlogo {
	width: 20px;
	height: 20px;
}

footer {
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 64px;
	padding-left: 256px;
	padding-right: 256px;
	padding-top: 24px;
	padding-bottom: 48px;
	color: #DADADA;
	background-color: #222222;
}